body {
  overflow: hidden;
  margin: 0;
  background: linear-gradient(221.17deg, #3391FF -10.36%, #17EBD1 104.04%);
  font-size: 0;
}

.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
}

.swipe-wrap {
  overflow: hidden;
  position: relative;
}

.swipe-wrap > div {
  float: left;
  width: 100%;
  position: relative;
}

.page {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  min-width: 100vw;
}

.Top_Nav {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 12vw;
  margin: 5vw 0 5vw 0;
}

.Top_Nav .search_notes {
  position: absolute;
  display: inline-block;
  padding: 1vw 5vw 1vw 5vw;
  color: #ffffff;
  margin: 0 5vw 0 5vw;
  width: 65%;
  height: 10vw;
  border-radius: 10px;
  border: none;
  background: rgba(0, 0, 0, 0.34);
}

.Top_Nav .settings_icon {
  right: 5vw;
  position: absolute;
  display: inline-block;
  background: url(../img/settings.svg);
  width: 10vw;
  height: 10vw;
  background-size: 10vw;
  margin-top: 1vw;
}

.bottom_nav {
  position: fixed;
  width: 100%;
  height: 12vw;
  bottom: 0;
  background: rgba(0, 0, 0, 0.34);
}

.bottom_nav .add_button {
  position: absolute;
  width: 64px;
  height: 64px;
  background: linear-gradient(135deg, #69AE00 0%, #84DC00 100%);
  -webkit-box-shadow: 2.5px 2.5px 10px rgba(0, 0, 0, 0.05), inset -2.5px -2.5px 10px rgba(255, 255, 255, 0.25);
          box-shadow: 2.5px 2.5px 10px rgba(0, 0, 0, 0.05), inset -2.5px -2.5px 10px rgba(255, 255, 255, 0.25);
  margin-left: 50%;
  -webkit-transform: translate(-50%, -40%);
          transform: translate(-50%, -40%);
  border-radius: 50%;
}

.bottom_nav .add_button .plus {
  background: url(../img/plus.svg);
  background-size: 30px;
  height: 30px;
  width: 30px;
  margin-left: 50%;
  bottom: 0;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
}

.overlay_up {
  display: block;
  bottom: 0%;
  -webkit-animation-name: overlay_up;
          animation-name: overlay_up;
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

@-webkit-keyframes overlay_up {
  0% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  100% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
}

@keyframes overlay_up {
  0% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  100% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
}

.welcome {
  color: white;
  z-index: 2;
  margin: 22vw 0 5vw 5vw;
  width: 100%;
  font-family: 'Poppins', sans-serif;
}

.welcome h1 {
  margin: 0;
  height: auto;
  font-size: 24px;
}

.welcome p {
  height: auto;
  font-size: 14px;
  margin: 0;
}

.home .note {
  background-color: white;
  top: 100px;
}

.home .my_notes {
  pointer-events: all;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
  width: 100%;
  margin-left: 5%;
}

.home .my_notes .note {
  height: auto;
  padding: 5vw;
  background-color: white;
  border-radius: 10px;
}

.home .my_notes .note h1 {
  position: relative;
  margin: 0;
  font-weight: 700;
  font-size: 20px;
}

.home .my_notes .note p {
  width: 100%;
  position: relative;
  margin: 2.5vw 0 0 0;
  font-weight: 100;
  font-size: 12px;
}

#add_note {
  font-family: 'Poppins', sans-serif;
  z-index: 1;
  top: 100%;
  position: absolute;
  min-height: 100vh;
  min-width: 100vw;
  overflow-y: scroll;
  background: #2C2C2C;
  border-radius: 20px 20px 0px 0px;
}

#add_note .handle {
  position: relative;
  width: 100vw;
  height: 8vw;
  left: 0px;
  top: 0px;
  background: rgba(0, 0, 0, 0.34);
  border-radius: 20px 20px 0 0;
}

#add_note .handle .bar {
  position: absolute;
  width: 60vw;
  height: 6px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 3px;
  margin-left: 20vw;
  margin-top: calc(4vw - 3px);
}

#add_note h1 {
  margin: 0;
  margin-top: 5vw;
  width: 90vw;
  margin-left: 5vw;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  margin: 2.5vw 5vw 2.5vw 5vw;
  color: #FFFFFF;
}

#add_note .enter_title {
  font-weight: 600;
  font-size: 18px;
  outline: none;
  border: none;
  height: 36px;
  width: 80vw;
  margin-left: 5vw;
  background: #FFFFFF;
  border-radius: 9px;
  margin-bottom: 2.5vw;
  padding: 0 5vw 0 5vw;
}

#add_note .add_content {
  min-height: 25vh;
  width: 80vw;
  margin-left: 5vw;
  background: #FFFFFF;
  border-radius: 9px;
  margin-bottom: 2.5vw;
  background: rgba(0, 0, 0, 0.34);
  border-radius: 9px;
  padding: 5vw;
}

#add_note .add_content p {
  min-height: 25vh;
  margin: 0;
  color: #474747;
  resize: none;
  outline: none;
  border: none;
  margin: 0;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
}
