body {
    overflow: hidden;
    margin: 0;
    background: linear-gradient(221.17deg, #3391FF -10.36%, #17EBD1 104.04%);
    // min-height: 100vh;
    // margin: 0;
    // padding: 0;
    // padding-top: 5vw;
    font-size: 0;
    // transform: translate();
}

.swipe {
    overflow: hidden;
    visibility: hidden;
    position: relative;
}
.swipe-wrap {
    overflow: hidden;
    position: relative;
}
.swipe-wrap > div {
    float: left;
    width: 100%;
    position: relative;
}

.page {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    min-width: 100vw;
}

.Top_Nav {
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 12vw;
    margin: 5vw 0 5vw 0;
    
    .search_notes {
        position: absolute;
        display: inline-block;
        padding: 1vw 5vw 1vw 5vw;
        color: #ffffff;
        margin: 0 5vw 0 5vw;
        width: 65%;
        height: 10vw;
        border-radius: 10px;
        border: none;
        background: rgba(0, 0, 0, 0.34);
    }
    .settings_icon {
        right: 5vw;
        position: absolute;
        display: inline-block;
        background: url(../img/settings.svg);
        width: 10vw;
        height: 10vw;
        background-size: 10vw;
        margin-top: 1vw;
    }
}

.bottom_nav {
    position: fixed;
    width: 100%;
    height: 12vw;
    bottom: 0;
    background: rgba(0, 0, 0, 0.34);
    .add_button {
        position: absolute;
        width: 64px;
        height: 64px;
        background: linear-gradient(135deg, #69AE00 0%, #84DC00 100%);
        box-shadow: 2.5px 2.5px 10px rgba(0, 0, 0, 0.05), inset -2.5px -2.5px 10px rgba(255, 255, 255, 0.25);
        margin-left: 50%;
        transform: translate(-50%, -40%);
        border-radius: 50%;
        .plus {
            background: url(../img/plus.svg);
            background-size: 30px;
            height: 30px;
            width: 30px;
            margin-left: 50%;
            bottom: 0;
            transform: translate(-50%, 50%);
        }
    }
}

.overlay_up {
    display: block;
    bottom: 0%;
    animation-name: overlay_up;
    animation-duration: 0.4s;
    animation-fill-mode: both;
}

@keyframes overlay_up {
    0% {
        transform: translateY(0%);
        }
    100% {
        transform: translateY(-100%);
    }
}

.welcome {
    color: white;
    z-index: 2;
    margin: 22vw 0 5vw 5vw;
    width: 100%;
    // height: 30px;
    font-family: 'Poppins', sans-serif;
    h1 {
        margin: 0;
        height: auto;
        font-size: 24px;
    }
    p {
        height: auto;
        font-size: 14px;
        margin: 0;
    }
}

// ---- notes -------------------------------------------------------------------------------------------------------------

.notes {
    
}

// ---- home --------------------------------------------------------------------------------------------------------------

.home {
    .note {
        // margin: 0 5vw 0 5vw;
        // width: 90%;
        // height: 30px;
        background-color: white;
        top: 100px;
    }
    .my_notes {
        pointer-events: all;
        font-family: 'Poppins', sans-serif;
        font-size: 14px;
        margin: 0;
        padding: 0;
        width: 100%;
        margin-left: 5%;
        
        .note {
            // position: relative;
            height: auto;
            padding: 5vw;
            // width: 100%;
            background-color: white;
            border-radius: 10px;
            // margin-bottom: 5vw;
            // margin-left: 5%;
            h1 {
                position: relative;
                margin: 0;
                font-weight: 700;
                font-size: 20px;
            }
            p {
                width: 100%;
                position: relative;
                margin: 2.5vw 0 0 0;
                font-weight: 100;
                font-size: 12px;
            }
        }
    }
}

// ---- projects ----------------------------------------------------------------------------------------------------------

.projects {

}

// ---- settings ----------------------------------------------------------------------------------------------------------

.settings {

}

// ---- add_note ----------------------------------------------------------------------------------------------------------

#add_note {
    font-family: 'Poppins', sans-serif;
    z-index: 1;
    top: 100%;
    position: absolute;
    min-height: 100vh;
    min-width: 100vw;
    overflow-y: scroll;
    background: #2C2C2C;
    border-radius: 20px 20px 0px 0px;
    .handle {
        position: relative;
        width: 100vw;
        height: 8vw;
        left: 0px;
        top: 0px;
        background: rgba(0, 0, 0, 0.34);
        border-radius: 20px 20px 0 0;
        
        .bar {
            position: absolute;
            width: 60vw;
            height: 6px;
            background: rgba(255, 255, 255, 0.2);
            border-radius: 3px;
            margin-left: 20vw;
            margin-top: calc(4vw - 3px);
        }

    }
    h1 {
        margin: 0;
        margin-top: 5vw;
        width: 90vw;
        margin-left: 5vw;
        font-weight: 600;
        font-size: 24px;
        line-height: 36px;
        margin: 2.5vw 5vw 2.5vw 5vw;

        color: #FFFFFF;
    }
    .enter_title {
        font-weight: 600;
        font-size: 18px;
        outline: none;
        border: none;
        height: 36px;
        width: 80vw;
        margin-left: 5vw;
        background: #FFFFFF;
        border-radius: 9px;
        margin-bottom: 2.5vw;
        padding: 0 5vw 0 5vw;
    }
    .add_content {
        min-height: 25vh;
        width: 80vw;
        margin-left: 5vw;
        background: #FFFFFF;
        border-radius: 9px;
        margin-bottom: 2.5vw;
        background: rgba(0, 0, 0, 0.34);
        border-radius: 9px;
        padding: 5vw;
        p {
            min-height: 25vh;
            margin: 0;
            color: #474747;
            resize: none;
            outline: none;
            border: none;
            margin: 0;
            font-size: 16px;
            font-family: 'Poppins', sans-serif;
        }
    }
}
